.admin-category-preview {
    background-color: $clr-1;
    margin: 0 0 em(16px) em(16px);
    padding: em(16px);
    border-radius: em(10px);
    max-width: em(480px);
    cursor: pointer;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        .name {
            font-size: em(20px);
        }
    }
    
    .actions {
        margin: em(16px) 0 0 0;
        height: em(28px);
    }
}