.admin-product-preview {
    display: grid;
    grid-template-columns: repeat(5, 2fr) 1fr;
    gap: 8px;
    // background-color: aquamarine;
    height: rem(104px);
    position: relative;
    align-items: center;
    font-size: 18px;

    .preview-img{
        height: em(80px);
        justify-self: center;
    }

    .btn-in-stock{
        height: 45%;
        width: clamp(10px, 100%, 120px);
        font-size: 18px;
        border-radius: em(8px, 18px);
        
        &.green{
            background-color: $clr-admin-preview-green;
        }
    
        &.red{
            background-color: $clr-admin-preview-red;
        }
    }


    &::before {
        content: '';
        height: 1px;
        width: 100%;
        background-color: $clr-2;
        position: absolute;
        bottom: 0;
    }
}