.admin-product-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 6fr 4fr;
    justify-items: center;
    align-items: center;
    position: relative;

    font-size: 18px;
    padding: em(5px);
    text-align: center;

    .name{
        font-weight: 600;
    }

    .preview-img {
        height: em(80px);
    }

    .btn-in-stock {
        height: 45%;
        width: clamp(10px, 100%, 120px);
        font-size: 18px;
        border-radius: em(8px, 18px);
        color: $clr-6;

        &.green {
            background-color: $clr-admin-preview-green;
        }

        &.red {
            background-color: $clr-admin-preview-red;
        }
    }

    &::before {
        content: '';
        height: 1px;
        width: 100%;
        background-color: $clr-2;
        position: absolute;
        bottom: 0;
    }

    @include mq(small) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        gap: 8px;
        justify-items: center;
        align-items: center;

        font-size: 18px;
        height: em(104px, 18px);
        padding: 0;

    }
}