.admin-category-edit {
    background-color: $clr-1;
    margin: em(15px) 0;
    padding: em(15px);
    border-radius: em(10px);
    max-width: em(480px);

    display: flex;
    flex-direction: column;

    .btn-close {
        margin: 0;
        align-self: flex-end;
    }

}


