.app-footer {
    height: var(--app-footer-height);
    // background-color: $clr-1;
    border-top: 1px solid $border-clr;
    // margin-top: em(60px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    direction: ltr;

    .social {
        display: flex;
        font-size: em(25px);
        gap: em(10px, 25px);
        margin: em(15px, 25px) 0;
    }

    .btn-login {
        font-size: 16px;
        height: em(32px);
        border-radius: em(5px);
        border: 1px solid $clr-4;
        color: $clr-6;
    }
}