.category-preview {
    height: em(150px);
    // width: em(150px);
    border-radius: 5px;
    position: relative;
    background-position: center;
    background-size: cover;

    // padding: 20px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    .name {
        color: $clr-1;
        font-size: em(20px);
        font-weight: 600;
        position: absolute;
        bottom: 50%;
        // right: 50%;
        transform: translate(0, 50%);
        width: 100%;
        text-align: center;
    }

    .cover {
        width: 100%;
        height: 100%;
        background-color: $clr-6;
        opacity: 0.1;
        border-radius: 5px;
    }

    @include mq-max(small) {}

    @include mq(small) {
        height: em(160px);
        // width: em(240px);
    }

    @include mq(medium) {
        height: em(200px);
    }

    @include mq(large) {
        height: em(250px);

        .name {
            font-size: em(24px);
            bottom: 20px;
            // right: 50%;
            transform: translate(0, 0);
        }
    }

    @include mq(x-large) {
        height: em(296px);

        .name {
            font-size: em(28px);
        }
    }
}