.category-list {
    display: grid;
    column-gap: em(10px);
    margin: em(20px) em(15px);
    overflow-x: scroll;
    grid-auto-flow: column;

    @include mq-max(small) {
        grid-template-columns: repeat(5, em(150px));
    }

    @include mq(small) {
        column-gap: em(20px);
        row-gap: em(30px);
        margin: em(30px) em(15px) em(20px) em(15px);
        grid-template-columns: repeat(5, 1fr);
        grid-auto-flow: row;

        overflow-x: auto;
    }

    @include mq(medium) {}

    @include mq(large) {}

    @include mq(x-large) {
        justify-content: center;
        grid-template-columns: repeat(5, 296px);
    }
}