// Colors

$clr-1: #ffffff;
$clr-2: #e8e8e8;
$clr-3: #b7b7b7;
$clr-4: #8c8c8c;
$clr-5: #525252;
$clr-6: #000000;

// admin side bar
$clr-admin-bgc: #FBF9FE;
$clr-admin-a-active: #EAE7FC;

// admin product preview
$clr-admin-preview-red: #f44336;
$clr-admin-preview-green: #8fce00;

// product preview
$clr-product-preview-blue: #346796;


// cover
$clr-cover-1: #e8e8e86f;


// $clr-1: #ffffff;
// $clr-2: #f8f9fa;
// $clr-3: #e9ecef;
// $clr-4: #dee2e6;
// $clr-5: #ced4da;
// $clr-6: #adb5bd;
// $clr-7: #6c757d;
// $clr-8: #495057;
// $clr-9: #343a40;
// $clr-10: #212529;
// $clr-11: #000000;