:root {
    --app-header-height: 52px;
    --app-footer-height: 120px;
    --app-height:100%;
    
    @include mq(medium) {
        --app-header-height: 74px;
        --app-footer-height: 200px;
    }
}


// Colors
$clr-1: #ffffff;
$clr-2: #e8e8e8;
// $clr-3: #b7b7b7;
$clr-3: #f2f2f2;
$clr-4: #8c8c8c;
$clr-5: #525252;
$clr-6: #000000;

// admin side bar
$clr-admin-bgc: #FBF9FE;
$clr-admin-a-active: #EAE7FC;

// admin product preview
$clr-admin-preview-red: #f44336;
$clr-admin-preview-green: #8fce00;

// product preview
$clr-product-preview-blue: #346796;

// cover
$clr-cover-1: #e8e8e86f;

// cart
$cart-bgc: #F6F6F6;
$border-clr: #d6d6d6;
$border-clr-2: #dedede;
$cart-cover-bgc: #00000080;