.admin-user-index {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: em(10px);


    .title {
        font-size: em(24px);
        margin: em(10px) 0;
    }

    @include mq(large) {
        margin: 0 0 em(10px) em(10px);

    }
}



.admin-user-preview {
    margin: em(10px) 0;
    background-color: $clr-1;
    padding: em(10px);
    border-radius: 5px;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr 1fr;

    .name{
        grid-column: 1;
    }

    @include mq(small) {
        max-width: em(600px);

    }

    .btn{
        margin: 0;
        background-color: $clr-admin-preview-green;
    }
    
    &.admin{
        .btn{
            background-color: $clr-admin-preview-red;
        }
    }
}