.category-page {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .theme-header {
        height: em(270px);
        position: relative;
        // margin-bottom: em(60px);
        background-size: cover;


        .cover {
            width: 100%;
            height: 100%;
            background-color: $clr-6;
            opacity: 0.1;
        }

        .title {
            font-size: em(42px);
            font-weight: 600;
            color: $clr-1;

            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 100%;
            text-align: center;
        }
    }

    @include mq(small) {
        .theme-header {
            height: em(360px);
        }
    }
    @include mq(medium) {
        .theme-header {
            height: em(560px);

            .title {
                font-size: em(60px);
            }
        }
    }
}