// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 30px;
}

.main-layout {
    // max-width: 1560px;
    // margin: auto;

    display: grid;
    grid-template-columns: em(20px) 1fr em(20px);


    &>* {
        grid-column: 2;
    }

    &>.full {
        grid-column: 1 / -1;
    }

    @include mq-max(small-max) {
    }

    @include mq(small) {
        // grid-template-columns: 16px 1fr 16px;
    }

    @include mq(medium) {
        // grid-template-columns: 1fr 960px 1fr;
    }

    @include mq(large) {
        // grid-template-columns: 1fr 960px 1fr;
    }

    @include mq(x-large) {
        grid-template-columns: 1fr 1560px 1fr;

    }
}